<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front :: common_head(~{::title},~{})">
    <title>菜单</title>
</head>

<body>
<div id="main" style="display: none;">
    <el-container>
        <el-header>

        </el-header>
        <el-main>

        </el-main>
    </el-container>
</div>
<div th:replace="layout/front::script">
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#main',
        data: {

        },
        created: function () {
            $("#main").show();
        },
        methods: {

        }
    });
</script>
</body>
</html>