<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front :: common_head(~{::title},~{::link})">
    <title>11111</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div id="main">
    <el-container>
        <el-header>
            <el-form :inline="true" :model="queryModel">
                <el-form-item label="标题">
                    <el-input v-model="queryModel.title" placeholder="标题"></el-input>
                </el-form-item>
                <el-form-item label="作者">
                    <el-input v-model="queryModel.author" placeholder="作者"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" size="mini" @click="query()">查询</el-button>
                </el-form-item>
            </el-form>
        </el-header>
        <el-main>
            <el-table :data="tableData.list" border style="width: 100%" size="mini">
                <el-table-column prop="key" label="标志">
                    <template slot-scope="scope">
                        <el-link type="primary" @click="getImg(scope.row)">{{ scope.row.key}}</el-link>
                    </template>
                </el-table-column>
                <el-table-column prop="title" label="标题">
                </el-table-column>
                <el-table-column prop="author" label="作者">
                </el-table-column>
                <el-table-column prop="vote" sortable label="点赞">
                </el-table-column>
                <el-table-column prop="comment" sortable label="评论">
                </el-table-column>
                <el-table-column prop="read" sortable label="阅读">
                </el-table-column>
            </el-table>

            <el-pagination @current-change="pageChange" :total="tableData.total">
            </el-pagination>
            <el-dialog title="图片" :visible.sync="dialogVisible">
                <div class="lazy-image">
                    <div>{{content}}</div>
                    <el-image v-for="url in images" :key="url" :src="url" lazy></el-image>
                </div>
            </el-dialog>
        </el-main>
    </el-container>

</div>
<div th:replace="layout/front::script">
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#main',
        data: {
            dialogVisible: false,
            queryModel: {
                title: '',
                author: '',
                pageNum: 1,
                pageSize: 10
            },
            content: '',
            tableData: {
                list: [],
                total: 0
            },
            images: []
        },
        methods: {
            pageChange: function (val) {
                this.queryModel.pageNum = val;
                this.getData();
            },
            query: function () {
                this.queryModel.pageNum = 1;
                this.getData();
            },
            getData: function () {
                var that = this;
                $.ajax({
                    url: "/spider/getData",
                    data: that.queryModel,
                    success: function (response) {
                        that.tableData = response;
                    }
                });
            },
            getImg: function (row) {
                var that = this;
                that.images = [];
                that.content = '';
                that.content = row.content;
                $.ajax({
                    url: "/spider/getImgList?articleId=" + row.key,
                    success: function (response) {
                        that.images = response;
                        that.dialogVisible = true;
                    }
                });
            }
        }
    });
</script>
</body>
</html>