<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zk.device.dal.SysMenuDao">

    <resultMap id="SysMenuResultMap" type="com.zk.device.model.shiro.Menu">
        <result column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="menu_name" property="menuName"/>
        <result column="url" property="url"/>
        <result column="permit" property="permit"/>
        <result column="menu_type" property="menuType"/>
        <result column="visible" property="visible"/>
        <result column="icon" property="icon"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,parent_id,menu_name,url,permit,menu_type,visible,icon,create_time,update_time    </sql>
    <select id="selectSysMenuListByModel" parameterType="com.zk.device.model.shiro.Menu"
            resultMap="SysMenuResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="parentId != null">AND parent_id = #{parentId}</if>
            <if test="menuName != null">AND menu_name = #{menuName}</if>
            <if test="url != null">AND url = #{url}</if>
            <if test="permit != null">AND permit = #{permit}</if>
            <if test="menuType != null">AND menu_type = #{menuType}</if>
            <if test="visible != null">AND visible = #{visible}</if>
            <if test="icon != null">AND icon = #{icon}</if>
            <if test="createTime != null">AND create_time = #{createTime}</if>
            <if test="updateTime != null">AND update_time = #{updateTime}</if>
        </where>
    </select>

    <select id="selectSysMenuByRoleId" parameterType="long" resultMap="SysMenuResultMap">
        SELECT menu.*
        FROM sys_menu menu
        INNER JOIN sys_role_menu roleMenu on menu.id = roleMenu.menu_id
        WHERE roleMenu.role_id = #{roleId}
    </select>

    <delete id="deleteRoleMenu" parameterType="Long">
        delete from sys_role_menu where role_id = #{roleId}
    </delete>

    <insert id="insertRoleMenu">
        INSERT INTO sys_role_menu
        (
          role_id,
          menu_id
        )
        values
        (
          #{roleId},
          #{menuId}
        )
    </insert>

    <select id="selectSysMenuById" parameterType="long" resultMap="SysMenuResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu
        where id = #{id}
    </select>

    <insert id="insertSysMenu" parameterType="com.zk.device.model.shiro.Menu" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="menuName != null">menu_name,</if>
            <if test="url != null">url,</if>
            <if test="permit != null">permit,</if>
            <if test="menuType != null">menu_type,</if>
            <if test="visible != null">visible,</if>
            <if test="icon != null">icon,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="menuName != null">#{menuName},</if>
            <if test="url != null">#{url},</if>
            <if test="permit != null">#{permit},</if>
            <if test="menuType != null">#{menuType},</if>
            <if test="visible != null">#{visible},</if>
            <if test="icon != null">#{icon},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSysMenu" parameterType="com.zk.device.model.shiro.Menu">
        update sys_menu
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="menuName != null">menu_name = #{menuName},</if>
            <if test="url != null">url = #{url},</if>
            <if test="permit != null">permit = #{permit},</if>
            <if test="menuType != null">menu_type = #{menuType},</if>
            <if test="visible != null">visible = #{visible},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from sys_menu where id = #{id}
    </delete>
</mapper>