<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hepic.tucana.dal.dao.mysql.ArticleDao">

    <resultMap id="ArticleResultMap" type="com.hepic.tucana.dal.entity.mysql.Article">
        <result column="id" property="id"/>
        <result column="key" property="key"/>
        <result column="category" property="category"/>
        <result column="title" property="title"/>
        <result column="url" property="url"/>
        <result column="content" property="content"/>
        <result column="img" property="img"/>
        <result column="code" property="code"/>
        <result column="director" property="director"/>
        <result column="mold" property="mold"/>
        <result column="role" property="role"/>
        <result column="actor" property="actor"/>
        <result column="series" property="series"/>
        <result column="publisher" property="publisher"/>
        <result column="author_id" property="authorId"/>
        <result column="author" property="author"/>
        <result column="remark" property="remark"/>
        <result column="type" property="type"/>
        <result column="data_flag" property="dataFlag"/>
        <result column="vote" property="vote"/>
        <result column="comment" property="comment"/>
        <result column="read" property="read"/>
        <result column="rate" property="rate"/>
        <result column="hot" property="hot"/>
        <result column="top" property="top"/>
        <result column="publish_time" property="publishTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,key,category,title,url,content,img,code,director,mold,role,actor,series,publisher,author_id,author,remark,type,data_flag,vote,comment,read,rate,hot,top,publish_time,create_time    </sql>
    <select id="selectArticleListByModel" parameterType="com.hepic.tucana.dal.entity.mysql.Article"
            resultMap="ArticleResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM article
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="key != null">AND key = #{key}</if>
            <if test="category != null">AND category = #{category}</if>
            <if test="title != null">AND title = #{title}</if>
            <if test="url != null">AND url = #{url}</if>
            <if test="content != null">AND content = #{content}</if>
            <if test="img != null">AND img = #{img}</if>
            <if test="code != null">AND code = #{code}</if>
            <if test="director != null">AND director = #{director}</if>
            <if test="mold != null">AND mold = #{mold}</if>
            <if test="role != null">AND role = #{role}</if>
            <if test="actor != null">AND actor = #{actor}</if>
            <if test="series != null">AND series = #{series}</if>
            <if test="publisher != null">AND publisher = #{publisher}</if>
            <if test="authorId != null">AND author_id = #{authorId}</if>
            <if test="author != null">AND author = #{author}</if>
            <if test="remark != null">AND remark = #{remark}</if>
            <if test="type != null">AND type = #{type}</if>
            <if test="dataFlag != null">AND data_flag = #{dataFlag}</if>
            <if test="vote != null">AND vote = #{vote}</if>
            <if test="comment != null">AND comment = #{comment}</if>
            <if test="read != null">AND read = #{read}</if>
            <if test="rate != null">AND rate = #{rate}</if>
            <if test="hot != null">AND hot = #{hot}</if>
            <if test="top != null">AND top = #{top}</if>
            <if test="publishTime != null">AND publish_time = #{publishTime}</if>
            <if test="createTime != null">AND create_time = #{createTime}</if>
        </where>
    </select>

    <select id="selectArticleById" parameterType="String" resultMap="ArticleResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM article
        where id = #{id}
    </select>

    <insert id="insertArticle" parameterType="com.hepic.tucana.dal.entity.mysql.Article" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="key != null">key,</if>
            <if test="category != null">category,</if>
            <if test="title != null">title,</if>
            <if test="url != null">url,</if>
            <if test="content != null">content,</if>
            <if test="img != null">img,</if>
            <if test="code != null">code,</if>
            <if test="director != null">director,</if>
            <if test="mold != null">mold,</if>
            <if test="role != null">role,</if>
            <if test="actor != null">actor,</if>
            <if test="series != null">series,</if>
            <if test="publisher != null">publisher,</if>
            <if test="authorId != null">author_id,</if>
            <if test="author != null">author,</if>
            <if test="remark != null">remark,</if>
            <if test="type != null">type,</if>
            <if test="dataFlag != null">data_flag,</if>
            <if test="vote != null">vote,</if>
            <if test="comment != null">comment,</if>
            <if test="read != null">read,</if>
            <if test="rate != null">rate,</if>
            <if test="hot != null">hot,</if>
            <if test="top != null">top,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="key != null">#{key},</if>
            <if test="category != null">#{category},</if>
            <if test="title != null">#{title},</if>
            <if test="url != null">#{url},</if>
            <if test="content != null">#{content},</if>
            <if test="img != null">#{img},</if>
            <if test="code != null">#{code},</if>
            <if test="director != null">#{director},</if>
            <if test="mold != null">#{mold},</if>
            <if test="role != null">#{role},</if>
            <if test="actor != null">#{actor},</if>
            <if test="series != null">#{series},</if>
            <if test="publisher != null">#{publisher},</if>
            <if test="authorId != null">#{authorId},</if>
            <if test="author != null">#{author},</if>
            <if test="remark != null">#{remark},</if>
            <if test="type != null">#{type},</if>
            <if test="dataFlag != null">#{dataFlag},</if>
            <if test="vote != null">#{vote},</if>
            <if test="comment != null">#{comment},</if>
            <if test="read != null">#{read},</if>
            <if test="rate != null">#{rate},</if>
            <if test="hot != null">#{hot},</if>
            <if test="top != null">#{top},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateArticle" parameterType="com.hepic.tucana.dal.entity.mysql.Article">
        update article
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="key != null">key = #{key},</if>
            <if test="category != null">category = #{category},</if>
            <if test="title != null">title = #{title},</if>
            <if test="url != null">url = #{url},</if>
            <if test="content != null">content = #{content},</if>
            <if test="img != null">img = #{img},</if>
            <if test="code != null">code = #{code},</if>
            <if test="director != null">director = #{director},</if>
            <if test="mold != null">mold = #{mold},</if>
            <if test="role != null">role = #{role},</if>
            <if test="actor != null">actor = #{actor},</if>
            <if test="series != null">series = #{series},</if>
            <if test="publisher != null">publisher = #{publisher},</if>
            <if test="authorId != null">author_id = #{authorId},</if>
            <if test="author != null">author = #{author},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="type != null">type = #{type},</if>
            <if test="dataFlag != null">data_flag = #{dataFlag},</if>
            <if test="vote != null">vote = #{vote},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="read != null">read = #{read},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="hot != null">hot = #{hot},</if>
            <if test="top != null">top = #{top},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from article where id = #{id}
    </delete>
</mapper>