<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front :: common_head(~{::title},~{})">
    <title>主页</title>
</head>
<style type="text/css">
    .el-menu-item i {
        font-size: 16px;
        width: 22px;
    }

    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }

    .el-icon-arrow-down {
        font-size: 12px;
    }
</style>
<body>
<div id="main" style="display: none;">
    <el-container>
        <el-header>
            <el-col :span="1" :offset="23">
                <el-dropdown @command="handleCommand">
                    <span class="el-dropdown-link">
                        [[${user.userName}]]
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="info">个人信息</el-dropdown-item>
                        <el-dropdown-item command="logout">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu @select="handleSelect" :default-active="activeMenu">
                    <el-menu-item index="dashboard">
                        <i class="fa fa-home"></i>
                        <span slot="title">首页</span>
                    </el-menu-item>
                    <el-menu-item v-for="item in menus" :index="item.name">
                        <i :class="item.icon"></i>
                        <span slot="title">{{item.label}}</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main style="padding: 5px;">
                <el-tabs type="border-card" :value="activeTab" @tab-remove="removeTab">
                    <el-tab-pane key="首页" label="首页" name="dashboard">
                        <iframe src="/dashboard" width="100%" style="height: 800px" frameborder="0"></iframe>
                    </el-tab-pane>
                    <el-tab-pane v-for="(item, index) in tabs"
                                 :key="item.name"
                                 :label="item.label"
                                 :name="item.name" closable>
                        <iframe :src="item.url" width="100%" style="height: 800px" frameborder="0"></iframe>
                    </el-tab-pane>
                </el-tabs>
            </el-main>
        </el-container>
    </el-container>
</div>
<div th:replace="layout/front::script">
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#main',
        beforeCreate: function () {
        },
        created: function () {
            $("#main").show();
        },
        data: {
            tabs: [],
            menus: [{
                name: "code",
                label: "代码",
                url: "/setting/code",
                icon: "fa fa-bug",
            }, {
                name: "chart",
                label: "报表",
                url: "/chart",
                icon: "fa fa-area-chart"
            }, {
                name: "menu",
                label: "菜单",
                url: "/system/menu",
                icon: "fa fa-reorder"
            }, {
                name: "role",
                label: "角色",
                url: "/system/role",
                icon: "fa fa-users"
            }, {
                name: "user",
                label: "用户",
                url: "/system/user",
                icon: "fa fa-user-o"
            }
            ],
            activeTab: 'code',
            activeMenu: '2'
        },
        methods: {
            handleSelect: function (key, path) {
                if (key == 'dashboard') {
                    this.activeTab = 'dashboard';
                    return;
                }
                var hasTab = this.tabs.find(function (value) {
                    return value.name == key;
                });
                if (hasTab) {
                    this.activeTab = key;
                    return;
                }
                var hasMenu = this.menus.find(function (value) {
                    return value.name == key;
                });
                if (hasMenu) {
                    this.tabs.push(hasMenu);
                    this.activeTab = key;
                    return;
                }
            },
            removeTab: function (name) {
                var tabs = this.tabs;
                var activeTab = this.activeTab;
                this.tabs.forEach(function (value, index) {
                    if (value.name === name) {
                        var nextTab = tabs[index + 1] || tabs[index - 1];
                        if (nextTab) {
                            activeTab = nextTab.name;
                        }
                    }
                });
                this.tabs = this.tabs.filter(function (tab) {
                    return tab.name !== name;
                });
                this.activeTab = activeTab;
            },
            handleCommand(command) {
                this.$message('click on item ' + command);
                let that = this;
                switch (command) {
                    case 'info':
                        break;
                    case 'logout':
                        that.logout();
                        break;
                }
            },
            logout: function () {
                let that = this;
                this.$ajax
                    .post(this.$baseUrl + "/logout")
                    .then(function (response) {
                        that.loading = false;
                        if (response.data.code == 1000) {
                            window.location.href = '/login';
                        } else {
                            that.$alert(response.data.message);
                        }
                    })
                    .catch(function (err) {
                        that.loading = false;
                        that.$alert("退出异常");
                        window.console.log(err);
                    });
            }
        }
    });
</script>
</body>
</html>