package ${table.project}.entity;

import java.util.Date;

/**
 *${table.tableComment}
 */
public class ${table.beanName} {
#foreach($column in $table.columns)

    /**
    * ${column.columnComment}
    */
    private ${column.dataType} ${column.propertyName};
#end

#foreach($column in $table.columns)

    public ${column.dataType} get${column.propertyNameUp}() {
        return ${column.propertyName};
    }

    public void set${column.propertyNameUp}(${column.dataType} ${column.propertyName}) {
        this.${column.propertyName} = ${column.propertyName};
    }
#end
}
