<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hepic.tucana.dal.dao.ArticleImgDao">

    <resultMap id="ArticleImgResultMap" type="com.hepic.tucana.model.dal.ArticleImg">
        <result column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="img" property="img"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,article_id,img    </sql>
    <select id="selectArticleImgListByModel" parameterType="com.hepic.tucana.model.dal.ArticleImg"
            resultMap="ArticleImgResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM article_img
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="articleId != null">AND article_id = #{articleId}</if>
            <if test="img != null">AND img = #{img}</if>
        </where>
    </select>

    <select id="selectArticleImgById" parameterType="String" resultMap="ArticleImgResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM article_img
        where id = #{id}
    </select>

    <insert id="insertArticleImg" parameterType="com.hepic.tucana.model.dal.ArticleImg" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO article_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="articleId != null">article_id,</if>
            <if test="img != null">img,</if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="articleId != null">#{articleId},</if>
            <if test="img != null">#{img},</if>
        </trim>
    </insert>

    <update id="updateArticleImg" parameterType="com.hepic.tucana.model.dal.ArticleImg">
        update article_img
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="articleId != null">article_id = #{articleId},</if>
            <if test="img != null">img = #{img},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from article_img where id = #{id}
    </delete>
</mapper>