<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/front :: common_head(~{::title},~{::link})">
    <title>代码生成</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/plugin/font-awesome/css/font-awesome.min.css}"/>
</head>

<body>
<div id="main" style="display: none;">
    <el-container>
        <el-header>
            <el-form :inline="true" :model="searchModel" size="mini" label-width="80px" label-position="left"
                     label-suffix=":">
                <el-form-item label="表名">
                    <el-input v-model="searchModel.callerClass" class="input"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input v-model="searchModel.callerClass" class="input"></el-input>
                </el-form-item>
                <el-form-item label="">
                    <el-button @click="getTableList()">查询</el-button>
                </el-form-item>
            </el-form>
        </el-header>
        <el-main>
            <el-table :data="tableList" stripe border size="mini" style="width: 100%">
                <el-table-column prop="tableName" label="表名" width="180">
                </el-table-column>
                <el-table-column prop="tableComment" label="备注" width="180">
                </el-table-column>
                <el-table-column prop="createTime" label="创建时间" width="150">
                </el-table-column>
                <el-table-column prop="updateTime" label="更新时间" width="150">
                </el-table-column>
                <el-table-column prop="columnComment" label="操作" width="250">
                    <template slot-scope="scope">
                        <el-button size="mini" type="primary" plain @click="codeCreate(scope.row)">
                            <i class="fa fa-code"></i>生成代码
                        </el-button>
                        <el-button size="mini" type="success" plain @click="showColumns(scope.row)">
                            <i class="fa fa-columns"></i>字段明细
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog title="字段明细" :visible.sync="dialogTableVisible">
                <el-table :data="columnData" stripe border size="mini">
                    <el-table-column property="ordinalPosition" label="序列" width="50"></el-table-column>
                    <el-table-column property="columnName" label="字段名" width="150"></el-table-column>
                    <el-table-column property="columnType" label="类型" width="100"></el-table-column>
                    <el-table-column property="columnComment" label="备注" width="150"></el-table-column>
                    <el-table-column property="columnDefault" label="默认值" width="150"></el-table-column>
                </el-table>
            </el-dialog>
        </el-main>
    </el-container>
</div>
<div th:replace="layout/front::script">
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#main',
        data: {
            tableList: [],
            columnData: [],
            searchModel: {},
            dialogTableVisible: false
        },
        created: function () {
            $("#main").show();
        },
        methods: {
            getTableList: function () {
                var that = this;
                $.ajax({
                    url: "/setting/getTableList",
                    success: function (response) {
                        console.log(response);
                        //that.common.f1();
                        that.tableList = response.result;
                    }
                });
            },
            codeCreate: function (row) {
                window.location.href = "/setting/codeCreate?table=" + row.tableName;
            },
            showColumns: function (row) {
                var that = this;
                $.ajax({
                    url: "/setting/getColumnsList?table=" + row.tableName,
                    success: function (response) {
                        that.dialogTableVisible = true;
                        that.columnData = response.result;
                    }
                });
            }
        }
    });
</script>
</body>
</html>